@model List<MVC_day2_task1_the_lab_one.View_Model.TraineesWithDeptName>
@{
    ViewData["Title"] = "AllTrainees";
}

<h1>AllTrainees</h1>
<div>
    <form action="/Trainee/TraineeSearch" method="get">
        <input class="w-50 h-50" type="text" name="name" placeholder="Search by name" />
        <button type="submit" class="btn btn-outline-primary">Search</button>
        <a class="btn btn-outline-primary" href="/Trainee/AllTrainees">Clear</a>
    </form>
</div>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="w-25">NAME</th>
            <th>IMAGE</th>
            <th>ADDRESS</th>
            <th>DEPARTMENT</th>
            <th>ACTIONS</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var trainee in Model)
        {
            <tr>
                <td>@trainee.Name</td>
                <td><img src="/image/@trainee.Image" class="w-25 h-25" /></td>
                <td>@trainee.Address</td>
                <td>@trainee.DepartmentName</td>

                <td>
                    <a class="btn btn-outline-primary" href="/Trainee/Details?id=@trainee.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-outline-primary" href="/Trainee/Add">Add Trainee</a>
